/* header */
body.admin-bar .navbar-fixed-top {
    top: 28px !important;
}
.logged-in > .wr header {
    padding-top: 30px;
    max-height: 180px;
}

.logged-in > .wr header:before {
    margin-top: 32px;
}

/*breadcrumbs*/
#breadcrumbs {
    text-align: left;
    margin-bottom: 0;
}
#breadcrumbs > span > span,
#breadcrumbs > span > span > a,
#breadcrumbs > span > span > span > a,
#breadcrumbs > span > span > span > span > a {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}
#breadcrumbs > span > span > a {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}
#breadcrumbs .breadcrumb_last {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}
.single-post #breadcrumbs .breadcrumb_last {
    color: #000000;
}
.menu-item-has-children .menu__sub-list {
    opacity: 0;
    visibility: hidden;
    height: 0px;
    flex-direction: column;
    align-items: flex-start !important;
    position: absolute;
    background: #ffffff;
    padding: 0 5px 5px 5px;
    border: 1px solid #ececec;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
    z-index: 1;
}
.menu-item-has-children:hover .menu__sub-list {


    opacity: 1;
    visibility: visible;
    height: auto;
}
body._lock {
    overflow: hidden;
}

.wpml-ls-legacy-dropdown {
    width: 50px;
    max-width: 100%;
    margin-left: 20px;
}
.wpml-ls-legacy-dropdown a {
    border: 1px solid transparent;
}
.wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a, .wpml-ls-legacy-dropdown a:focus, .wpml-ls-legacy-dropdown a:hover {
    background: transparent;
}
.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
    right: 0;
}
.wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
    border-top: none;
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 600px) {
    .woocommerce-products-header {
        margin-top: 20px;
    }
    #breadcrumbs > span > span, #breadcrumbs > span > span > a, #breadcrumbs > span > span > span > a, #breadcrumbs > span > span > span > span > a {
        font-size: 14px;
    }
    .wpml-ls-legacy-dropdown {
        width: 40px;
        margin-left: 5px;
    }

}
